.git
.github
.gocache
.gomodcache
.gopath
.tmp
%SystemDrive%
benchmarks
data
logs
outputs
storage
test
testdata
Python
internal/nodes/Python
*.exe
*.log
*.sqlite
*.db
coverage.out
playwright-report
test-results
