%SystemDrive%/
.gocache/
.gomodcache/
.gopath/
.tmp/
Python/
benchmarks/
data/
logs/
node_modules/
outputs/
playwright-report/
storage/
test/
test-results/
testdata/
internal/nodes/Python/
*.exe
*.log
*.sqlite
*.db
coverage.out
